
.navbar{
  height: 9vh;
}



  .navbar-brand{
    font-family: god;
    font-size: 20px;
    color: black;
    text-decoration: none;

  }

  .links a{
    font-family: god;

  }

  img {
    margin: 0;
  }
  
  .navbar {
    justify-content: space-between;
    color: black;
    padding: 10px;
  }
  
  a {
    font-size: 1.3rem;
    cursor: pointer;
    padding-right: 1rem;
    text-decoration: none;
    color: black;
  }
  
  ::placeholder {
    color: black;
    font-size: 0.9rem;
  }
  
  .links {
    display: flex;
  }
  
  .input-group-append button:hover {
    background-color: transparent;
  }
  
  .input-group-append button {
    border-color: black;
  }
  
  .links a:hover{
    color: darkgrey;
  }

  
