<div class="container-fluid">
    <div class="header text-center">
      <div class="content">
        <div class="pt-5" style="font-size: 6rem;">
            <h1>The<br>Gitfather</h1>
        </div><br><br>
        <h2>Profile finder for Github</h2>
        <h4>Find Github users and repositories.</h4><br>
      </div>
      <a routerLink="/my-profile" style="color: white;">
        <h4>View my profile</h4>
      </a><br>
      <a routerLink="/my-profile"><i class="fas fa-angle-double-down" style="font-size: 2rem;"></i></a>
    </div>
  </div>