<div class="container-fluid">
    <div class="header text-center">
        <div class="content">
            <div class="pt-5" style="font-size: 6rem;">
                <h1>The<br>Gitfather</h1>
            </div><br>
            <span>
                <img width="85" alt="Angular Logo" src="./assets/github.png" style="padding-bottom: 2%;" /></span>
            <h2>Profile finder for Github</h2>
            <h5>Find Github users and repositories.</h5>
        </div>
        <a routerLink="/my-profile" style="color: white;">
            <h4>View my profile</h4>
        </a><br>
        <a routerLink="/my-profile"><img src="./assets/arrow_down.png" alt="arrow_down" class="arrow_down"></a>
    </div>
</div>