@font-face {
  font-family: god;
  src: url("./assets/god.ttf");
}

@font-face {
  font-family: signature;
  src: url("./assets/Signature.ttf");
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
